@import '@fontsource/lato/300.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-accent-dark: #2a2c2e;
    --bg-accent-light: #e8e9ee;
    --bg-primary-dark: #d3b5ff;
    --bg-primary-light: #6200ee;
    --bg-shape-dark: #2a2c2e;
    --bg-shape-light: #e8e9ee;
    --bg-black: #222425;
    --bg-white: #fff;
    --font-family: 'Lato', sans-serif;
}

body {
    font-family: var(--font-family);
    font-size: 14px;
}

@layer components {
    .title-primary {
        @apply text-xl font-medium text-slate-900 dark:text-slate-200;
    }

    .title-secondary {
        @apply text-sm font-normal text-slate-500 dark:text-slate-400;
    }
}
