@import '@fontsource/lato/300.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-accent-dark: #e5e7eb;
    --bg-accent-light: #e8eaee;
    --bg-accent: #f3f4f6;
    --bg-primary-dark: #5700d5;
    --bg-primary-light: #d2b3ff;
    --bg-primary: #6200ee;
    --font-family: 'Lato', sans-serif;
}

body {
    font-family: var(--font-family);
    font-size: 14px;
}
